# Variables expected: IMAGE_TAG, CHAIN, REMOTE_USER, INSTANCE, EXTRA_ARGS
services:

  parity-node:
    image: "${IMAGE_TAG}"
    container_name: "${CHAIN}-staging-node"
    # Uncomment if you want to expose ports when not using host network
    # ports: 
    #   - '30333:30333' # p2p
    #   - '9615:9615'   # prometheus
    #   - '9944:9944'   # rpc
    #   - '9933:9933'   # ws
    network_mode: host
    volumes:
      - "/home/${REMOTE_USER}/parity-data/data:/data"
    environment:
      {}
    user: "0:0"
    command: >-
      --base-path=/data
      --chain ${CHAIN}
      --name chainsafe-${CHAIN}-staging-${INDEX}
      --telemetry-url "wss://telemetry.polkadot.io/submit/ 0"
      --sync warp
      ${EXTRA_ARGS}
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: '5'
        max-size: '100m'
    labels:
      promtail_logging: "true"
      instance: "${INSTANCE}"
      network: "${CHAIN}"
